<h2><i class="fa fa-user"></i> <span translate="campusApp.person.home.title">Students</span></h2>
    <form ng-submit="loadPage(pagination.first)" role="from">
        <div class="row hidden-print">
          <div class="col-md-5 col-xs-6">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" ng-model="searchData.keyword">
                  <span class="input-group-btn">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
          </div>
          <div class="col-md-7 col-xs-6">
            <div class="btn-group pull-right">             
              <button type="button" class="btn  btn-primary dropdown-toggle" data-toggle="dropdown">
                <span translate="entity.action.choose">Select an action</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-inverse">
                <li is-granted="person.create"><a ui-sref="personSave"><i class="fa fa-user-plus"></i> <span translate="entity.action.add">add</span></a></li>
                <li class="divider"></li>
                <li><a id="js-badge"><i class="fa fa-credit-card"></i> <span translate="entity.action.print.card">print cards</span></a></li>
                <li><a id="js-tiquet"><i class="fa fa-ticket"></i> <span translate="entity.action.print.ticket">print tiquets</span></a></li>
                <li is-granted="person.update"><a ng-show="showSwitchAction()"><i class="fa fa-exchange"></i> <span translate="entity.action.switch">Switch rooms</span></a></li>
                <li class="divider"></li>
                <li><a data-toggle="modal" data-target="#customFieldsModal"><i class="fa fa-th"></i> <span translate="entity.action.customFields">customFields</span></a></li>
                <li is-granted="person.delete"><a data-toggle="modal" ng-show="showMultipleActions()" data-target="#deleteMultipleConfirmation"><i class="fa fa-times-circle"></i> <span translate="entity.action.delete">delete</span></a></li>
              </ul>
            </div>
          </div><!-- /.col-lg-2 -->
        </div><!-- /.row -->
  </form>

    <!-- delete confirmation modal -->
    <div class="modal fade" id="deletePersonConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(person._id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="campusApp.person.delete.question" translate-values="{id: '{{person._id}}'}">Are you sure you want to delete this User?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <i class="fa fa-times-circle"></i>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- multiple delete modal -->
    <div class="modal fade" id="deleteMultipleConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="multipleDelete()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="campusApp.person.delete.multiplequestion" >Are you sure you want to delete all these persons?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- custom fields modal -->
    <div class="modal fade" id="customFieldsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.action.customFields">customFields</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" >
                                <div class="form-group col-md-6" ng-repeat="field in fields">
                                    <label class="checkbox" for="checkbox{{field.label}}">
                                        <input my-checkbox type="checkbox" ng-model="field.visible" id="checkbox{{field.label}}"><span translate="{{ getFieldLabel('person', field) }}">label</span>
                                    </label>
                                </div>
                                <div class="clerfix"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <label class="checkbox" for="checkbox0">
                            <input my-checkbox type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)" id="checkbox0" />
                        </label>
                    </th>
                    <th ng-repeat="field in fields" ng-class="{'sortable': field.sortable}" ng-show="field.visible" my-sortabale>
                        <a ng-if="field.sortable" ng-click="changeOrder(field.label)"><span translate="{{ getFieldLabel('person', field) }}">label</span> <i class="fa pull-right" ng-class="{'fa-sort-amount-desc': searchData.orderDir === 'desc', 'fa-sort-amount-asc': searchData.orderDir === 'asc'}"></i></a>
                        <span ng-if="!field.sortable" translate="{{ getFieldLabel('person', field) }}">label</span>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entity in persons">
                    <td>
                        <label class="checkbox" for="checkbox{{entity._id}}">
                            <input my-checkbox type="checkbox" ng-model="entity.checked" id="checkbox{{entity._id}}">
                        </label>
                    </td>
                    <td ng-repeat="field in fields" ng-show="field.visible">{{ getFieldValue(entity, field)}}</td>
                    <td>
                        <button ui-sref="personDetail({id:entity._id})"
                                class="btn btn-info  btn-embossed btn-xs">
                            <i class="fa fa-eye"></i>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button ui-sref="personSave({id:entity._id})"
                                is-granted="person.update"
                                class="btn btn-primary  btn-embossed btn-xs">
                            <i class="fa fa-edit"></i>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button ng-click="delete(entity._id)"
                                is-granted="person.delete"
                                class="btn btn-danger  btn-embossed btn-xs">
                            <i class="fa fa-times-circle"></i>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="caption">
          <em><strong>Total :</strong> {{ count }}</em>
        </div>

        <nav>
            <ul class="pager" >
                <li ng-show="pagination.first" ng-click="loadPage(pagination.first)"><a>&lt;&lt;</a></li>
                <li ng-show="pagination.prev" ng-click="loadPage(pagination.prev)"><a>&lt;</a></li>
                <li ng-show="pagination.next" ng-click="loadPage(pagination.next)"><a>&gt;</a></li>
                <li ng-show="pagination.last" ng-click="loadPage(pagination.last)"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
