<nav class="menu hidden-print" role="navigation" ng-style="style()" resize-menu>
    <ul>
        <li ui-sref-active="current">
            <a ui-sref="home" data-original-title="Dashboard">
                <i class="fa fa-dashboard block"></i> <span translate="global.menu.entities.main">Dashboard</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="person" data-original-title="Persons"> 
                <i class="fa fa-user block"></i> <span translate="global.menu.entities.person">Persons</span> 
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="room" data-original-title="Rooms">
                <i class="fa fa-hotel block"></i> <span translate="global.menu.entities.room">Rooms</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="product" data-original-title="Products">
                <i class="fa fa-dropbox block"></i> <span translate="global.menu.entities.product">Products</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="allocation" data-original-title="Allocation">
                <i class="fa fa-archive block"></i> <span translate="global.menu.entities.allocation">Allocation</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="reservation" data-original-title="Reservations">
                <i class="fa fa-usd block"></i> <span translate="global.menu.entities.reservation">Reservations</span>
            </a>
        </li> 
        <li ui-sref-active="current">
            <a ui-sref="user" data-original-title="Users">
                <i class="fa fa-users block"></i> <span translate="global.menu.entities.user">Users</span>
            </a>
        </li>     
        <li ui-sref-active="current">
            <a ui-sref="config" data-original-title="Préférences">
                <i class="fa fa-gears block"></i> <span translate="global.menu.entities.settings">Settings</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a my-shelf my-tooltip data-toggle="tooltip" data-tooltip-style="light" data-placement="right" data-original-title="Collapse menu">
                <i class="fa fa-arrow-left block"></i> <span translate="global.menu.entities.collapse"> Collpase</span>
            </a>
        </li>
    </ul>
</nav>