
<div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
    <strong>Authentication failed!</strong> Please check your credentials and try again.
</div>

<form class="form" role="form">
    <div class="login-warper">
        <div class="login-icon">
            <img src="assets/images/logo.png" alt="logo" />
            <h4>Welcome to <small>CampApp</small></h4>
        </div>
        <div class="login-form">

            <div class="form-group">
              <input type="text" name="username" class="form-control login-field" id="username" placeholder="USERNAME: admin" ng-model="username">
              <label class="login-field-icon fui-user" for="username"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" name="password" id="password" placeholder="PASSWORD: admin" ng-model="password">
              <label class="login-field-icon fui-lock" for="password"></label>
            </div>

            <button type="submit" class="btn btn-primary btn-block" ng-click="login()">Authenticate</button>
            
        </div>
    </div>
</form>
